header {
    width: 100%;
    .nav{
        width: 95%;
        margin: 2% auto;
        background: chocolate;
        display: flex;
        justify-content: space-between;

        #logo{
            width: 20%;
        }

        nav{
            float: right;
            
            a{
                text-decoration: none;
                color: #fff;
            }

            
        }
    }
}